@import url("~boots/css/bootstrap.min.css");

footer{
    color: aliceblue;
}
#logo{
    width: 100px;
}
body{
    background-color: rgb(88, 86, 86);
}
main{
    background-color: rgba(255, 255, 255, 0.329);
    border: 
}


header{
    
    
    background-color: inherit;
}

.navegacao{
    margin-top: 20px;
    
}

.navegacao nav a{color: rgb(216, 39, 39);}

.errors{
    background-color: rgb(189, 117, 117);
    font-family: Consolas;
    
}